
@import "tailwindcss";


@font-face {
    font-family: Josefin-san-light;
    src: url(/assets/fonts/JosefinSans-Light.ttf);
}

@font-face {
    font-family: Josefin-san-regular;
    src: url(/assets/fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: Josefin-san-semibold;
    src: url(/assets/fonts/JosefinSans-SemiBold.ttf);
}

@theme {

    --font-josefin-light: Josefin-san-light;
    --font-josefin-regular: Josefin-san-regular;
    --font-josefin-semibold: Josefin-san-semibold;

    --color-dark-grayish-red: hsl(0, 6%, 24%);
    --color-first-grad-f: hsl(0, 0%, 100%);
    --color-first-grad-t: hsl(0, 100%, 98%);
    --color-second-grad-f: hsl(0, 80%, 86%);
    --color-second-grad-t: hsl(0, 74%, 74%);
    --color-desaturated-red: hsl(0, 36%, 70%);
    --color-soft-red: hsl(0, 93%, 68%);

    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }